sentence-transformers
scikit-learn
DrissionPage
transformers==4.41.2
torch
pgvector==0.4.2 
psycopg2-binary==2.9.12 
sqlalchemy==2.0.49
requests 
beautifulsoup4
trafilatura
cloudscraper
passlib[bcrypt]
python-jose[cryptography]
email-validator
pydantic
fastapi
lxml
uvicorn
python-dotenv
bcrypt==4.0.1
apscheduler