:root {
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;

  --text-display: 4rem;
  --text-heading: 1.693rem;
  --text-body: 1.106rem;
  --text-small: 0.901rem;
}

@media (max-width: 767px) {
  :root {
    --text-display: 2.5rem;
    --text-heading: 1.35rem;
    --text-body: 0.95rem;
    --text-small: 0.8rem;
  }
}

